<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="öbsproje.Properties.Settings.UNİNOTSİSTEMİVTConnectionString"
            connectionString="Data Source=sucomputer\SQLEXPRESS;Initial Catalog=UNİNOTSİSTEMİVT;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>